<html>
	<head>
		<title>Hello Twitter</title>
	</head>
	<body>
		<h3>Connected to Twitter</h3>
		
		<p>
			You are now connected to your Twitter account.
			Click <a href="/getprofile">here</a> to see your Twitter profile.
		</p>
		<p>
			Click <a href="/getfriends">here</a> to see your Twitter friends.
		</p>
		<p>
			Click <a href="/collection/save?profile">here</a> to save your Twitter profile.
		</p>
		<p>
			Click <a href="/collection/save?friends">here</a> to save your Twitter profile.
		</p>
				
	</body>
</html>